{% extends "shop/base.html" %}
{% block title %}Корзина{% endblock %}

{% block content %}
  <div class="cart-table">
    <table class='cart'>
      <caption class="title-cart" >Ваша карзина</caption>
      <thead>
        <th>Название</th>
        <th>Изображение</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Размер</th>
        <th>Общая стоимость</th>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
          <tr>
            <td>{{ product.name }}</td>
            <td>
              <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}{{ product.image.url }}{% endif %}">
              </a>
            </td>
            <td>{{ product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{% for item in item.size %}{{ item }}{% endfor %}</td>
            <td>{{ item.total_price }}</td>
          </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td><p>Общая цена {{ cart.get_total_price }}</p></td>
        </tr>
        <tr>
          <td><h2><a href="{% url 'cart:cart_clear' %}">Удалить карзину</a></h2></td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
