{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.description }}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <h2>{{ product.name }}</h2>
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    <p>{{ product.description }}</p>
    {% for price in product.prices.all %}
      <p class = "product-price">{{ price.value }}л за {{ price.price }}р</p>
    {% endfor %}
  </div>
  <script src="multiselect.min.js"></script>
{% endblock %}
